In [1]:
# importacion general de librerias y de visualizacion (matplotlib y seaborn)
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
import calendar

%matplotlib inline

plt.style.use('default') # haciendo los graficos un poco mas bonitos en matplotlib
#plt.rcParams['figure.figsize'] = (20, 10)

sns.set(style="whitegrid") # seteando tipo de grid en seaborn

pd.options.display.float_format = '{:20,.8f}'.format # suprimimos la notacion cientifica en los outputs

import warnings
import category_encoders as ce
from sklearn.preprocessing import LabelEncoder
warnings.filterwarnings('ignore')

In [2]:
from sklearn import cross_validation, metrics
from sklearn.grid_search import GridSearchCV

In [3]:
# %timeit sirve para evaluar el tiempo de ejecucion
train_entrenamiento = pd.read_csv('train_paso_3.csv')
test_entrenamiento = pd.read_csv('test_paso_3.csv')
test = pd.read_csv('trocafone_kaggle_test.csv')

In [4]:
def agregarcolumnas(archivo):
    bi=ce.BinaryEncoder(cols=['most_frequent_event','less_frequent_event'])
    result_encoder= bi.fit_transform( archivo)
    
    return result_encoder

In [5]:
train=agregarcolumnas(train_entrenamiento)

In [6]:
test=agregarcolumnas(test_entrenamiento)

In [7]:
train.head()

,most_frequent_event_0,most_frequent_event_1,most_frequent_event_2,most_frequent_event_3,most_frequent_event_4,less_frequent_event_0,less_frequent_event_1,less_frequent_event_2,less_frequent_event_3,less_frequent_event_4,...,time_to_last_co,time_to_last_ch,time_to_last_le,time_to_last_ad,time_to_last_bl,time_to_last_gl,time_to_last_sp,time_to_last_vs,time_to_last_se,time_to_last_st
0,0,0,0,0,1,0,0,0,0,1,...,"710,133.00000000","710,451.00000000",-1.00000000,-1.00000000,"710,561.00000000",-1.00000000,-1.00000000,"26,916.00000000",-1.00000000,"631,051.00000000"
1,0,0,0,1,0,0,0,0,1,0,...,-1.00000000,-1.00000000,-1.00000000,-1.00000000,-1.00000000,-1.00000000,-1.00000000,"336,875.00000000",-1.00000000,-1.00000000
2,0,0,0,0,1,0,0,0,0,1,...,-1.00000000,"174,045.00000000",-1.00000000,-1.00000000,"174,349.00000000",-1.00000000,"174,391.00000000","174,582.00000000",-1.00000000,-1.00000000
3,0,0,0,0,1,0,0,0,1,1,...,-1.00000000,-1.00000000,-1.00000000,-1.00000000,"525,929.00000000",-1.00000000,-1.00000000,"388,952.00000000",-1.00000000,-1.00000000
4,0,0,0,0,1,0,0,1,0,0,...,-1.00000000,"1,124,140.00000000",-1.00000000,-1.00000000,-1.00000000,-1.00000000,-1.00000000,"1,124,607.00000000",-1.00000000,-1.00000000

In [8]:
test.head()

,most_frequent_event_0,most_frequent_event_1,most_frequent_event_2,most_frequent_event_3,most_frequent_event_4,less_frequent_event_0,less_frequent_event_1,less_frequent_event_2,less_frequent_event_3,less_frequent_event_4,...,time_to_last_co,time_to_last_ch,time_to_last_le,time_to_last_ad,time_to_last_bl,time_to_last_gl,time_to_last_sp,time_to_last_vs,time_to_last_se,time_to_last_st
0,0,0,0,0,1,0,0,0,0,1,...,-1.00000000,"1,208,883.00000000",-1.00000000,-1.00000000,-1.00000000,-1.00000000,"1,208,947.00000000","1,209,157.00000000",-1.00000000,-1.00000000
1,0,0,0,0,1,0,0,0,1,0,...,-1.00000000,"790,224.00000000","4,198,650.00000000",-1.00000000,"3,986,189.00000000",-1.00000000,"4,480,892.00000000","303,072.00000000",-1.00000000,-1.00000000
2,0,0,0,0,1,0,0,0,1,1,...,-1.00000000,"361,030.00000000",-1.00000000,-1.00000000,"361,097.00000000",-1.00000000,"361,166.00000000","361,407.00000000",-1.00000000,-1.00000000
3,0,0,0,0,1,0,0,0,0,1,...,-1.00000000,"1,730,109.00000000",-1.00000000,-1.00000000,"86,540.00000000",-1.00000000,"40,977.00000000","35,493.00000000",-1.00000000,"1,730,052.00000000"
4,0,0,0,0,1,0,0,0,0,1,...,-1.00000000,"1,115,262.00000000",-1.00000000,-1.00000000,"1,126,298.00000000",-1.00000000,"1,202,519.00000000","862,005.00000000",-1.00000000,-1.00000000

In [9]:
train.to_csv("train_paso_4.csv", index = False)

In [10]:
test.to_csv("test_paso_4.csv", index = False)