In [2]:
# importacion general de librerias y de visualizacion (matplotlib y seaborn)
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
import calendar

%matplotlib inline

plt.style.use('default') # haciendo los graficos un poco mas bonitos en matplotlib
#plt.rcParams['figure.figsize'] = (20, 10)

sns.set(style="whitegrid") # seteando tipo de grid en seaborn

pd.options.display.float_format = '{:20,.2f}'.format # suprimimos la notacion cientifica en los outputs

import warnings
warnings.filterwarnings('ignore')

In [3]:
# %timeit sirve para evaluar el tiempo de ejecucion
event = pd.read_csv('events_up_to_01062018.csv')


#projects_2017.head()trocafone_kaggle_test
#projects_2017

In [5]:
label_train = pd.read_csv('labels_training_set.csv')

In [6]:
test = pd.read_csv('trocafone_kaggle_test.csv')

In [7]:
test_con_feature  = pd.read_csv('feature_test_paso_uno.csv')
train_con_feature = pd.read_csv('feature_training_paso_uno.csv')

In [8]:
len(train_con_feature)

19414

In [9]:
events_test = event.merge(test,on='person',how='inner')
events_test.head()

,timestamp,event,person,url,sku,model,condition,storage,color,skus,...,search_engine,channel,new_vs_returning,city,region,country,device_type,screen_resolution,operating_system_version,browser_version
0,2018-05-18 00:11:59,viewed product,4886f805,NaN,"9,288.00",Samsung Galaxy J7 Prime,Excelente,32GB,Dourado,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-05-18 00:30:30,viewed product,4886f805,NaN,"9,288.00",Samsung Galaxy J7 Prime,Excelente,32GB,Dourado,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-05-18 00:07:23,search engine hit,4886f805,NaN,nan,NaN,NaN,NaN,NaN,NaN,...,Google,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-05-18 00:11:56,checkout,4886f805,NaN,"9,288.00",Samsung Galaxy J7 Prime,Excelente,32GB,Dourado,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-05-18 00:11:35,viewed product,4886f805,NaN,"9,287.00",Samsung Galaxy J7 Prime,Muito Bom,32GB,Dourado,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
 #feature engine trucho
events_training = event.merge(label_train,on='person',how='inner')

In [11]:
channel=events_training.groupby(['person','channel']).agg({'channel':'count'}).unstack()
channel.columns=['Direct','Email','Organic','Paid','Referral','Social','desconocido']
channel=channel.reset_index()
channel=channel.fillna(0)
channel.head()

,person,Direct,Email,Organic,Paid,Referral,Social,desconocido
0,0008ed71,0.00,0.00,0.00,0.00,2.00,0.00,0.00
1,000c79fe,0.00,0.00,0.00,1.00,0.00,0.00,0.00
2,001802e4,0.00,0.00,0.00,1.00,0.00,0.00,0.00
3,0019e639,0.00,0.00,2.00,16.00,1.00,0.00,0.00
4,001ca5ee,2.00,0.00,2.00,5.00,6.00,0.00,0.00

In [13]:
device_type=events_training.groupby(['person','device_type']).agg({'device_type':'count'}).unstack()
device_type.columns=['computer','smatphone','tablet','desconocido']
device_type=device_type.reset_index()
device_type=device_type.fillna(0)
device_type.drop('desconocido',axis=1)

         person             computer            smatphone               tablet
0      0008ed71                 2.00                 0.00                 0.00
1      000c79fe                 0.00                 1.00                 0.00
2      001802e4                 0.00                 1.00                 0.00
3      0019e639                19.00                 0.00                 0.00
4      001ca5ee                 0.00                15.00                 0.00
5      001dfc31                 0.00                 4.00                 0.00
6      001e9aea                 0.00                 7.00                 0.00
7      0020152e                 2.00                 0.00                 0.00
8      002b0188                 2.00                 0.00                 0.00
9      002e74b2                 1.00                 0.00                 0.00
10     00317e49                 0.00                 1.00                 0.00
11     0031c75f                 1.00                 0.00                 0.00
12     003476c0                 0.00                 4.00                 0.00
13     003847fc                20.00                 0.00                 0.00
14     003a7d49                 0.00                 3.00                 0.00
15     003bdb4d                 1.00                 0.00                 0.00
16     003d4cac                 0.00                 3.00                 0.00
17     003dd965                 1.00                 0.00                 0.00
18     0042421c                 2.00                 0.00                 0.00
19     004b8d91                 0.00                 3.00                 0.00
20     004ed8ba                 0.00                43.00                 0.00
21     0050d971                 0.00                 3.00                 0.00
22     00546e55                 0.00                 1.00                 0.00
23     00665dda                 0.00                 5.00                 0.00
24     006671fd                 2.00                 0.00                 0.00
25     00702e02                 3.00                 0.00                 0.00
26     00736d10                 9.00                 0.00                 0.00
27     007537e8                 0.00                 2.00                 0.00
28     007ddac1                 0.00                 1.00                 0.00
29     00868d8e                 0.00                 1.00                 0.00
...         ...                  ...                  ...                  ...
19096  ff8a9723                 0.00                 6.00                 0.00
19097  ff8af29b                 0.00                 1.00                 0.00
19098  ff906750                 0.00                 5.00                 0.00
19099  ff97d56f                 7.00                 0.00                 0.00
19100  ff97e281                 0.00                 1.00                 0.00
19101  ff9a58dd                 7.00                 0.00                 0.00
19102  ff9b9954                 1.00                 0.00                 0.00
19103  ff9da79b                 9.00                 0.00                 0.00
19104  ffa9ac98                 0.00                 3.00                 0.00
19105  ffae1445                 0.00                 4.00                 0.00
19106  ffaf0844                 2.00                 0.00                 0.00
19107  ffb598de                 0.00                 0.00                 1.00
19108  ffc51f07                 8.00                 0.00                 0.00
19109  ffc670b3                18.00                 1.00                 0.00
19110  ffcaae19                 1.00                 0.00                 0.00
19111  ffcaeaae                 1.00                 0.00                 0.00
19112  ffd9756a                 0.00                 2.00                 0.00
19113  ffde3628                 0.00                15.00                 0.00
19114  ffe066cc                 0.00                 4.00                 0.00
19115  ffe7e848                 8.00                 0.00                 0.00
19116  ffeb80c5                 0.00                 1.00                 0.00
19117  ffebdbc9                 1.00                 0.00                 0.00
19118  ffecdf29                 3.00                 0.00                 0.00
19119  ffed0342                 0.00                22.00                 0.00
19120  ffed3d0e                 0.00                 1.00                 0.00
19121  ffee0f18               173.00                 0.00                 0.00
19122  ffef83e6                24.00                 0.00                 0.00
19123  fff1659c                 6.00                 0.00                 0.00
19124  fff2bdde                 0.00                 4.00                 0.00
19125  fff78145                 5.00                 0.00                 0.00

[19126 rows x 4 columns]

In [66]:
events_training['date'] = pd.to_datetime(events_training['timestamp'])

In [67]:
fecha1 = events_training.loc[:,['person','date']].groupby('person')\
            .agg({'date': lambda x: (x.max() - x.min())}).reset_index()

In [69]:
fecha1['time'] = fecha1['date'].apply(lambda x : x.total_seconds())
fecha1.head()

     person              date                 time
0  0008ed71   0 days 04:00:50            14,450.00
1  000c79fe   0 days 00:10:20               620.00
2  001802e4   0 days 00:10:46               646.00
3  0019e639 114 days 07:49:57         9,877,797.00
4  001b0bf9   0 days 00:15:18               918.00

In [73]:
fechas=fecha1[['person','time']]
fechas.head()

     person                 time
0  0008ed71            14,450.00
1  000c79fe               620.00
2  001802e4               646.00
3  0019e639         9,877,797.00
4  001b0bf9               918.00

In [75]:
fech=pd.merge(label_train,fechas,on='person',how='left')
fech.head()

     person  label                 time
0  0566e9c1      0           772,618.00
1  6ec7ee77      0                 0.00
2  abe7a2fb      0         9,335,392.00
3  34728364      0           742,549.00
4  87ed62de      0             1,409.00

In [11]:
storage=events_training.groupby(['person' ,'storage']).agg({'storage':'count'}).unstack().fillna(0)  
storage.head()

                      storage                                            \
storage                 128GB                 16GB                256GB
person
0008ed71                 0.00                 0.00                 0.00
000c79fe                 4.00                 0.00                 0.00
001802e4                 0.00                 0.00                 2.00
0019e639                 0.00                98.00                 0.00
001b0bf9                 2.00                 0.00                 0.00

                                                                         \
storage                  32GB                  4GB                512MB
person
0008ed71                 2.00                 0.00                 0.00
000c79fe                 0.00                 0.00                 0.00
001802e4                 0.00                 0.00                 0.00
0019e639                14.00                 0.00                 0.00
001b0bf9                 0.00                 0.00                 0.00


storage                  64GB                  8GB
person
0008ed71                 1.00                 0.00
000c79fe                 0.00                 0.00
001802e4                 3.00                 0.00
0019e639                 0.00                94.00
001b0bf9                 3.00                 0.00

In [16]:
#Este metodo lo implementamos para poder encontrar la marca de cada producto
#La funcÃ­on del mismo es recibir un objeto (que en este caso representa el producto 
#sobre el que actua el evento)
#y nos va a devolver la marca del producto

def hallarMarca(x):
   x=str(x)
   y=""
   if x.find('iPhone')==0:
       y="iPhone"
   elif x.find('Samsung')==0:
       y="Samsung"
   elif x.find('Motorola')==0:
       y="Motorola"
   elif x.find('iPad')==0:
       y="iPad"
   elif x.find('LG')==0:
       y="LG"
   elif x.find('Quantum')==0:
       y="Quantum"
   elif x.find('Blackberry')==0:
       y="Blackberry"
   elif x.find('Asus')==0:
       y="Asus"
   elif x.find('Lenovo')==0:
       y="Lenovo"
   elif x.find('Sony')==0:
       y="Sony"
   return y

In [17]:
#Aplico la funcÃ­on hallarMarca a cada elemento de la columna 'models'
#El resultado es una serie con la marca de cada producto (en orden)

sMarcas=events_training.apply({'model':hallarMarca})
#Creo un nuevo dataframe con la columna 'mark', que representa las marcas de cada producto

dataframeConMarcas=events_training
dataframeConMarcas['mark']=sMarcas
dataframeConMarcas.head()
# grafico=conversiones['mark'].value_counts().plot(kind='barh',figsize=(10,6),title='Marca \

,timestamp,event,person,url,sku,model,condition,storage,color,skus,...,new_vs_returning,city,region,country,device_type,screen_resolution,operating_system_version,browser_version,label,mark
0,2018-05-18 00:11:27,viewed product,ad93850f,NaN,304.00,iPhone 5s,Muito Bom,32GB,Cinza espacial,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,iPhone
1,2018-05-18 00:23:33,viewed product,ad93850f,NaN,318.00,iPhone 5s,Muito Bom,64GB,Prateado,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,iPhone
2,2018-05-18 00:16:10,viewed product,ad93850f,NaN,"5,907.00",iPhone 5s,Bom - Sem Touch ID,16GB,Cinza espacial,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,iPhone
3,2018-05-18 00:14:55,viewed product,ad93850f,NaN,"6,023.00",iPhone 5s,Bom - Sem Touch ID,16GB,Dourado,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,iPhone
4,2018-05-18 00:11:26,ad campaign hit,ad93850f,/comprar/iphone/iphone-5s,nan,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,

In [18]:
# events_training['event'].value_counts()
# .groupby(['person','mark']).agg({'mark':'count'})

In [19]:
# a=dataframeConMarcas['event']=='viewed product'
# b=dataframeConMarcas['event']=='checkout'
# c=dataframeConMarcas['event']=='conversion'
# data_mark=dataframeConMarcas[a|b|c].groupby(['person','mark']).agg({'mark':'count'}).unstack().fillna(0)
# data_mark.columns=['desconocido','Asus','LG','Lenovo','Motorola','Quantum','Samsung','Sony','iPad','iPhone']
# data_mark=data_mark.reset_index()
# data_mark.head()

In [20]:
# datatrain=pd.merge(train_con_feature,storage,on='person',how='left')
# datatrain=datatrain.fillna(0)
# datatrain.isnull().sum()

In [21]:
# storage=events_training.groupby(['person' ,'storage']).agg({'storage':'count'})  
# print (len(events_training))

In [22]:
def agregarcolumnas(archivo,archivo_con_feature):
    #archivo_con_feature es un archivo test o train con feature antes calculada
    #archivo es el train con label o el test
    
    
    #agrego divicion entre convert y checkout
    
    #cantidad_eventos=archivo.groupby(['person','event']).agg({'event':'count'})\
    #.unstack().fillna(0)
    #cantidad_eventos.columns=['ad campaign hit','brand listing','checkout','conversion','generic listing','lead','search engine hit','searched products','staticpage','viewed product','visited site']
    #cantidad_eventos=cantidad_eventos.reset_index()
    #cantidad_eventos['div_conver_check']=cantidad_eventos['conversion'].astype(float)/\
    #cantidad_eventos['checkout'].astype(float)
    #cantidad_eventos=cantidad_eventos.fillna(0)
    #cantidad_eventos=cantidad_eventos[['person','div_conver_check']]
    #cantidad_eventos.head()
    
    #agrego storage
    print (len(archivo))
    storage=archivo.groupby(['person' ,'storage']).agg({'storage':'count'}).unstack().fillna(0) 
    print (len(storage))
    storage.columns=['128GB','16GB','256GB','32GB','4GB','512MB','64GB','8GB']
    print (len(storage))
    storage=storage.reset_index() 
    print (len(storage))
    storage.head(5)
    print (len(storage))
    archivo_con_storage=pd.merge(archivo_con_feature,storage,on='person',how='left')
    archivo_con_storage=archivo_con_storage.fillna(0)
    print (len(archivo_con_storage))
    #agrego condition
    
    condition=archivo.groupby(['person' ,'condition']).agg({'condition':'count'}).unstack().fillna(0) 
  
    condition.columns=['Bom','Bom - Sem Touch ID','Excelente','Muito Bom','Novo']
    condition=condition.reset_index() 
    condition.head(5)
    archivo_con_storage_condition=pd.merge(archivo_con_storage,condition,on='person',how='left')
    archivo_con_storage_condition=archivo_con_storage_condition.fillna(0)
    print (len(archivo_con_storage_condition))
    
    #agrego columnas modelo
    
    #Aplico la funcÃ­on hallarMarca a cada elemento de la columna 'models'
    #El resultado es una serie con la marca de cada producto (en orden)

    sMarcas=archivo.apply({'model':hallarMarca})
    #Creo un nuevo dataframe con la columna 'mark', que representa las marcas de cada producto

    dataframeConMarcas=archivo
    dataframeConMarcas['mark']=sMarcas
    dataframeConMarcas.head()
    a=dataframeConMarcas['event']=='viewed produn_storage_conditionct'
    b=dataframeConMarcas['event']=='checkout'
    c=dataframeConMarcas['event']=='conversion'
    data_mark=dataframeConMarcas.groupby(['person','mark']).agg({'mark':'count'}).unstack().fillna(0)
    data_mark.columns=['desconocido_modelo','Asus','LG','Lenovo','Motorola','Quantum','Samsung','Sony','iPad','iPhone']
    data_mark=data_mark.reset_index()
    archivo_con_storage_condition_mark=pd.merge(archivo_con_storage_condition,data_mark,on='person',how='left')
    archivo_con_storage_condition_mark=archivo_con_storage_condition_mark.fillna(0)
    
    archivo['date'] = pd.to_datetime(events_training['timestamp'])
    fecha1 = archivo.loc[:,['person','date']].groupby('person')\
            .agg({'date': lambda x: (x.max() - x.min())}).reset_index()
    
    fecha1['time'] = fecha1['date'].apply(lambda x : x.total_seconds())
#     fecha1.head()
    fechas=fecha1[['person','time']]
    
    archivo_con_storage_condition_mark=pd.merge(archivo_con_storage_condition_mark,fechas,on='person',how='left')

#      #calculamos la diferencia de tiempo entre eventos para el train
#     data1=archivo
#     data1=archivo.loc[:,['person','date']].sort_values('date',ascending=True)
#     data1['dateaux']=data1['date'].shift(periods=1,axis=0)
#     data1['personaux']=data1['person'].shift(periods=1,axis=0)
#     data1['aux']=data1['person']==data1['personaux']
#     #data1.groupby('person').apply(lambda x: )
#     data1=data1[data1['aux']==True]
#     data1['diftime']=(data1['date']-data1['dateaux']).dt.total_seconds()
#     len(data1)
#     #aca tenemos la desviacion estandar
#     data1=data1.loc[:,['person','diftime']]

#     # #aca va la desviacion estandar
#     datosmean=data1.groupby('person').mean()
#     datosmean=datosmean.fillna(0)
#     # datostd.head()
#     archivo_con_storage_condition_mark=pd.merge(archivo_con_storage_condition_mark,datosmean,on='person',how='left')
#     archivo_con_storage_condition_mark=archivo_con_storage_condition_mark.fillna(0)
    
#     #agreganos desde que dispositivo se realizan los eventos para cada ususario
#     device_type=archivo.groupby(['person','device_type']).agg({'device_type':'count'}).unstack()
#     device_type.columns=['computer','smatphone','tablet','desconocido']
#     device_type=device_type.reset_index()
# #     device_type=device_type.fillna(0)
#     device_type=device_type.drop('desconocido',axis=1)
#     archivo_con_storage_condition_mark_dev=pd.merge(archivo_con_storage_condition_mark,device_type,on='person',how='left')
#     archivo_con_storage_condition_mark_dev=archivo_con_storage_condition_mark_dev.fillna(0)
#     #agrego las columnas channel
    
#     channel=archivo.groupby(['person','channel']).agg({'channel':'count'}).unstack()
#     channel.columns=['Direct','Email','Organic','Paid','Referral','Social','desconocido_channel']
#     channel=channel.reset_index()
#     channel=channel.fillna(0)
#     archivo_con_storage_condition_mark_cha=pd.merge(archivo_con_storage_condition_mark,channel,on='person',how='left')
#     archivo_con_storage_condition_mark_cha=archivo_con_storage_condition_mark_cha.fillna(0)

    return archivo_con_storage_condition_mark

In [23]:
data_train=agregarcolumnas(events_training,train_con_feature)
data_train.info()

1171886
19128
19128
19128
19128
19414
19414
<class 'pandas.core.frame.DataFrame'>
Int64Index: 19414 entries, 0 to 19413
Data columns (total 42 columns):
person                       19414 non-null object
label                        19414 non-null int64
most_frequent_event          19414 non-null object
count_most_frequent_event    19414 non-null int64
less_frequent_event          19414 non-null object
count_less_frequent_event    19414 non-null int64
ad campaign hit              19414 non-null float64
brand listing                19414 non-null float64
checkout                     19414 non-null float64
conversion                   19414 non-null float64
generic listing              19414 non-null float64
lead                         19414 non-null float64
search engine hit            19414 non-null float64
searched products            19414 non-null float64
staticpage                   19414 non-null float64
viewed product               19414 non-null float64
visited site                 19414 non-null float64
mean_per_event               19414 non-null float64
128GB                        19414 non-null float64
16GB                         19414 non-null float64
256GB                        19414 non-null float64
32GB                         19414 non-null float64
4GB                          19414 non-null float64
512MB                        19414 non-null float64
64GB                         19414 non-null float64
8GB                          19414 non-null float64
Bom                          19414 non-null float64
Bom - Sem Touch ID           19414 non-null float64
Excelente                    19414 non-null float64
Muito Bom                    19414 non-null float64
Novo                         19414 non-null float64
desconocido_modelo           19414 non-null float64
Asus                         19414 non-null float64
LG                           19414 non-null float64
Lenovo                       19414 non-null float64
Motorola                     19414 non-null float64
Quantum                      19414 non-null float64
Samsung                      19414 non-null float64
Sony                         19414 non-null float64
iPad                         19414 non-null float64
iPhone                       19414 non-null float64
time                         19414 non-null float64
dtypes: float64(36), int64(3), object(3)
memory usage: 6.4+ MB

In [24]:
data_test=agregarcolumnas(events_test,test_con_feature)
data_test.head()

1169795
19122
19122
19122
19122
19415
19415

,person,most_frequent_event,count_most_frequent_event,less_frequent_event,count_less_frequent_event,mean_per_event,ad campaign hit,brand listing,checkout,conversion,...,Asus,LG,Lenovo,Motorola,Quantum,Samsung,Sony,iPad,iPhone,time
0,4886f805,viewed product,4,checkout,1,1.50,0.00,0.00,1.00,0.00,...,0.00,0.00,0.00,0.00,0.00,5.00,0.00,0.00,0.00,"590,558.00"
1,0297fc1e,viewed product,404,lead,1,70.88,29.00,4.00,7.00,0.00,...,0.00,0.00,0.00,0.00,0.00,2.00,0.00,5.00,405.00,"4,896,450.00"
2,2d681dd8,viewed product,13,ad campaign hit,1,3.25,1.00,5.00,1.00,0.00,...,0.00,0.00,0.00,8.00,0.00,0.00,0.00,0.00,6.00,"2,651.00"
3,cccea85e,viewed product,739,checkout,1,92.89,15.00,7.00,1.00,0.00,...,0.00,148.00,8.00,517.00,3.00,34.00,22.00,0.00,8.00,"5,090,479.00"
4,4c8a8b93,viewed product,177,checkout,2,32.12,14.00,8.00,2.00,0.00,...,0.00,0.00,0.00,0.00,0.00,3.00,0.00,0.00,176.00,"578,073.00"

In [134]:
data_train.head()

,person,label,most_frequent_event,count_most_frequent_event,less_frequent_event,count_less_frequent_event,ad campaign hit,brand listing,checkout,conversion,...,LG,Lenovo,Motorola,Quantum,Samsung,Sony,iPad,iPhone,time,diftime
0,0566e9c1,0,viewed product,23,checkout,1,6.00,3.00,1.00,1.00,...,2.00,0.00,0.00,0.00,11.00,1.00,0.00,11.00,"772,618.00",0.33
1,6ec7ee77,0,ad campaign hit,1,ad campaign hit,1,1.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2,abe7a2fb,0,viewed product,31,checkout,1,9.00,14.00,1.00,0.00,...,0.00,0.00,0.00,0.00,14.00,0.00,0.00,18.00,"9,335,392.00",9.46
3,34728364,0,viewed product,24,search engine hit,1,0.00,5.00,0.00,0.00,...,0.00,6.00,5.00,0.00,10.00,3.00,0.00,0.00,"742,549.00",0.67
4,87ed62de,0,viewed product,9,visited site,1,5.00,0.00,2.00,0.00,...,0.00,0.00,0.00,0.00,11.00,0.00,0.00,0.00,"1,409.00",0.33

In [135]:
data_test.head()

,person,most_frequent_event,count_most_frequent_event,less_frequent_event,count_less_frequent_event,mean_per_event,ad campaign hit,brand listing,checkout,conversion,...,LG,Lenovo,Motorola,Quantum,Samsung,Sony,iPad,iPhone,time,diftime
0,4886f805,viewed product,4,checkout,1,1.50,0.00,0.00,1.00,0.00,...,0.00,0.00,0.00,0.00,5.00,0.00,0.00,0.00,"590,558.00",0.00
1,0297fc1e,viewed product,404,lead,1,70.88,29.00,4.00,7.00,0.00,...,0.00,0.00,0.00,0.00,2.00,0.00,5.00,405.00,"4,896,450.00",3.93
2,2d681dd8,viewed product,13,ad campaign hit,1,3.25,1.00,5.00,1.00,0.00,...,0.00,0.00,8.00,0.00,0.00,0.00,0.00,6.00,"2,651.00",2.00
3,cccea85e,viewed product,739,checkout,1,92.89,15.00,7.00,1.00,0.00,...,148.00,8.00,517.00,3.00,34.00,22.00,0.00,8.00,"5,090,479.00",5.14
4,4c8a8b93,viewed product,177,checkout,2,32.12,14.00,8.00,2.00,0.00,...,0.00,0.00,0.00,0.00,3.00,0.00,0.00,176.00,"578,073.00",2.86

In [136]:
#agrega columnas test

In [137]:
data_train.to_csv("train_paso_3.csv", index = False)

In [138]:
data_test.to_csv("test_paso_3.csv", index = False)