In [3]:
# importacion general de librerias y de visualizacion (matplotlib y seaborn)
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
import calendar

%matplotlib inline

plt.style.use('default') # haciendo los graficos un poco mas bonitos en matplotlib
#plt.rcParams['figure.figsize'] = (20, 10)

sns.set(style="whitegrid") # seteando tipo de grid en seaborn

pd.options.display.float_format = '{:20,.2f}'.format # suprimimos la notacion cientifica en los outputs

import warnings
warnings.filterwarnings('ignore')

In [4]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.datasets import make_classification

In [5]:
X, y = make_classification(n_samples=1000, n_features=4,
                           n_informative=2, n_redundant=0,
                             random_state=0, shuffle=False)

In [6]:
# %timeit sirve para evaluar el tiempo de ejecucion
event = pd.read_csv('events_up_to_01062018.csv')
label_train = pd.read_csv('labels_training_set.csv')
test = pd.read_csv('trocafone_kaggle_test.csv')

#projects_2017.head()trocafone_kaggle_test
#projects_2017

In [7]:
event.head(5)

,timestamp,event,person,url,sku,model,condition,storage,color,skus,...,search_engine,channel,new_vs_returning,city,region,country,device_type,screen_resolution,operating_system_version,browser_version
0,2018-05-18 00:11:59,viewed product,4886f805,NaN,"9,288.00",Samsung Galaxy J7 Prime,Excelente,32GB,Dourado,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-05-18 00:11:27,viewed product,ad93850f,NaN,304.00,iPhone 5s,Muito Bom,32GB,Cinza espacial,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-05-18 00:11:16,viewed product,0297fc1e,NaN,"6,888.00",iPhone 6S,Muito Bom,64GB,Prateado,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-05-18 00:11:14,viewed product,2d681dd8,NaN,"11,890.00",iPhone 7,Bom,128GB,Vermelho,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-05-18 00:11:09,viewed product,cccea85e,NaN,"7,517.00",LG G4 H818P,Excelente,32GB,Branco,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
events_test = event.merge(test,on='person',how='inner')
events_test.head()

,timestamp,event,person,url,sku,model,condition,storage,color,skus,...,search_engine,channel,new_vs_returning,city,region,country,device_type,screen_resolution,operating_system_version,browser_version
0,2018-05-18 00:11:59,viewed product,4886f805,NaN,"9,288.00",Samsung Galaxy J7 Prime,Excelente,32GB,Dourado,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-05-18 00:30:30,viewed product,4886f805,NaN,"9,288.00",Samsung Galaxy J7 Prime,Excelente,32GB,Dourado,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-05-18 00:07:23,search engine hit,4886f805,NaN,nan,NaN,NaN,NaN,NaN,NaN,...,Google,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-05-18 00:11:56,checkout,4886f805,NaN,"9,288.00",Samsung Galaxy J7 Prime,Excelente,32GB,Dourado,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-05-18 00:11:35,viewed product,4886f805,NaN,"9,287.00",Samsung Galaxy J7 Prime,Muito Bom,32GB,Dourado,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
 #feature engine trucho
events_training = event.merge(label_train,on='person',how='inner')
events_training.head()

,timestamp,event,person,url,sku,model,condition,storage,color,skus,...,channel,new_vs_returning,city,region,country,device_type,screen_resolution,operating_system_version,browser_version,label
0,2018-05-18 00:11:27,viewed product,ad93850f,NaN,304.00,iPhone 5s,Muito Bom,32GB,Cinza espacial,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,2018-05-18 00:23:33,viewed product,ad93850f,NaN,318.00,iPhone 5s,Muito Bom,64GB,Prateado,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,2018-05-18 00:16:10,viewed product,ad93850f,NaN,"5,907.00",iPhone 5s,Bom - Sem Touch ID,16GB,Cinza espacial,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,2018-05-18 00:14:55,viewed product,ad93850f,NaN,"6,023.00",iPhone 5s,Bom - Sem Touch ID,16GB,Dourado,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,2018-05-18 00:11:26,ad campaign hit,ad93850f,/comprar/iphone/iphone-5s,nan,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [10]:
#hot enconding

In [11]:
#for key in cualidades:
  #      events_training[key] = events_training.apply(lambda row: propiedad_tiene(cualidades[key], row), axis = 1)

In [12]:
#events_training[['event','viewed product','ad campaign hit']].head(5)

In [13]:
#events_training_categorizado=events_training.groupby('person').agg({'viewed product':'sum','visited site':'sum','ad campaign hit':'sum','generic listing':'sum','searched products':'sum','search engine hit':'sum','checkout':'sum','conversion':'sum','lead':'sum'})

In [14]:
#events_training_categorizado.head()

In [15]:
sum_enconding=events_training.groupby(['person','event']).agg({'event':'count'}).unstack().fillna(0)
sum_enconding.columns=['ad campaign hit','brand listing','checkout','conversion','generic listing','lead','search engine hit','searched products','staticpage','viewed product','visited site']

In [16]:
sum_enconding=sum_enconding.reset_index() 
sum_enconding.head()

,person,ad campaign hit,brand listing,checkout,conversion,generic listing,lead,search engine hit,searched products,staticpage,viewed product,visited site
0,0008ed71,0.00,0.00,3.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,2.00
1,000c79fe,1.00,0.00,1.00,0.00,1.00,0.00,1.00,9.00,0.00,3.00,1.00
2,001802e4,5.00,0.00,1.00,0.00,4.00,0.00,0.00,4.00,0.00,4.00,1.00
3,0019e639,29.00,165.00,15.00,2.00,28.00,0.00,13.00,11.00,0.00,189.00,19.00
4,001b0bf9,0.00,1.00,2.00,1.00,1.00,0.00,0.00,0.00,0.00,2.00,0.00

In [17]:
#termino hotenconding

In [18]:
 datos_uno = events_training.loc[:,['person','event']]

In [19]:
cantidad_eventos = datos_uno.groupby('person').count().reset_index()
cantidad_eventos.columns=['person','event_count']
cantidad_eventos.head()

     person  event_count
0  0008ed71            6
1  000c79fe           17
2  001802e4           19
3  0019e639          471
4  001b0bf9            7

In [20]:
datos_dos = events_training.loc[:,['person','event','timestamp']]
datos_dos = datos_dos.groupby(['person','event']).count().reset_index()
datos_dos.columns=['person','event','cant_per_event']
datos_dos.head()

     person            event  cant_per_event
0  0008ed71         checkout               3
1  0008ed71  generic listing               1
2  0008ed71     visited site               2
3  000c79fe  ad campaign hit               1
4  000c79fe         checkout               1

In [21]:
maximo_evento = datos_dos.groupby('person').apply(lambda x: x.nlargest(1,'cant_per_event')).reset_index(drop=True)
maximo_evento.head()

     person              event  cant_per_event
0  0008ed71           checkout               3
1  000c79fe  searched products               9
2  001802e4    ad campaign hit               5
3  0019e639     viewed product             189
4  001b0bf9           checkout               2

In [22]:
minimo_evento = datos_dos.groupby('person').apply(lambda x: x.nsmallest(1,'cant_per_event')).reset_index(drop=True)
minimo_evento.head()

     person            event  cant_per_event
0  0008ed71  generic listing               1
1  000c79fe  ad campaign hit               1
2  001802e4         checkout               1
3  0019e639       conversion               2
4  001b0bf9    brand listing               1

In [23]:
minimo_evento.columns=['person','less_frequent_event','count_less_frequent_event']

In [24]:
maximo_evento.columns=['person','most_frequent_event','count_most_frequent_event']

In [25]:
media_evento = datos_dos.loc[:,['person','cant_per_event']]\
                .groupby('person').agg(lambda x: x.mean()).reset_index()

In [26]:
 media_evento.columns=['person','mean_per_event']

In [27]:
media_evento.head(10)

     person       mean_per_event
0  0008ed71                 2.00
1  000c79fe                 2.43
2  001802e4                 3.17
3  0019e639                52.33
4  001b0bf9                 1.40
5  001ca5ee                13.71
6  001dfc31                 7.00
7  001e9aea                 9.00
8  0020152e                 1.80
9  002b0188                 5.43

In [28]:
valores = media_evento.merge(maximo_evento,on='person',how='inner').merge(minimo_evento,on='person',how='inner')

In [29]:
valores.head()

,person,mean_per_event,most_frequent_event,count_most_frequent_event,less_frequent_event,count_less_frequent_event
0,0008ed71,2.00,checkout,3,generic listing,1
1,000c79fe,2.43,searched products,9,ad campaign hit,1
2,001802e4,3.17,ad campaign hit,5,checkout,1
3,0019e639,52.33,viewed product,189,conversion,2
4,001b0bf9,1.40,checkout,2,brand listing,1

In [30]:
#merge con la variable categorizable event

In [31]:
valores =pd.merge( sum_enconding,valores,on='person',how='inner')

In [32]:
#Agregamos nuevos features.

In [33]:
 #Creamos una nueva columna 'date', asi manejamos la variable de tiempo para cada usuario posible.
events_training['date'] = pd.to_datetime(events_test['timestamp'])

In [34]:
#este feature le agrega un peso a los usuarion segun la cantidad de conversiones que realizaron.
#Aquellos usuarion que han realizado una conversion tienen menos peso que aquellos que no la hicieron, ya que al haber
# comprado ya un producto es menos probable que ellos lo vuelvan a hacer.
#Ademas este peso se reduce si el usuario realizo mas de una conversion
datos_cuatro = events_training.loc[:,['person','event','timestamp']]
datos_cuatro = datos_cuatro.groupby(['person','event']).count().unstack().reset_index().fillna(0)
datos_cuatro.columns=['person','ad_campaign_hit','brand_listing','checkout','conversion','generic_listing',\
                      'lead','search_engine_hit','searched_products','staticpage','viewed_product','visited_site']
feature_uno = datos_cuatro
feature_uno['weight_conversion_per_person'] = datos_cuatro.loc[:,['person','conversion']]['conversion']\
            .apply(lambda x: 1/(x+1))
feature_uno = feature_uno.loc[:,['person','weight_conversion_per_person']]
feature_uno = label_train.merge(feature_uno,on='person',how='inner').drop('label',axis=1)
feature_uno.head()

     person  weight_conversion_per_person
0  0566e9c1                          0.50
1  6ec7ee77                          1.00
2  abe7a2fb                          1.00
3  34728364                          1.00
4  87ed62de                          1.00

In [35]:
#vamos a crear un feature que es un peso que se le asigna a cada usuario de acuerdo a que tan proxima esta la
#ultima conversion que realizaron con respecto a la fecha limite donde empieza la primera semana de junio
#los usuarion que hayan realizado un conversion muy cerca a esta fecha tendran el peso menor.
# a medida que la ultima conversion del usuario se aleje de esta fecha el peso aumenta.
#si el usuario no realizo ninguna conversion entonces el peso es el maximo, que es 1 en este caso
fecha1 = events_training['date'].min()
fecha2 = pd.to_datetime('2018-05-31 23:59:59')
tiempo_total = (fecha2-fecha1).total_seconds()
datos_cinco = events_training.groupby('person').filter(lambda x: (x['event']=='conversion').any()).reset_index()\
            .loc[:,['person','event','date']]
datos_cinco_con = datos_cinco.loc[datos_cinco['event']=='conversion',:].groupby('person').max().reset_index()\
                .drop('event',axis=1)
datos_cinco_con['weight_conversion_per_time']= (fecha2 - datos_cinco_con['date']).dt.total_seconds()/tiempo_total
datos_cinco_con = datos_cinco_con.drop('date',axis=1)
datos_cinco_sin = events_test.groupby('person').filter(lambda x: (x['event']!='conversion').all()).reset_index()\
            .loc[:,['person','event']].drop_duplicates(subset='person',keep='first')
datos_cinco_sin['weight_conversion_per_time']=1
datos_cinco_sin = datos_cinco_sin.drop('event',axis=1)
feature_dos = datos_cinco_sin.merge(datos_cinco_con,on=['person','weight_conversion_per_time'],how='outer')
feature_dos = label_train.merge(feature_dos,on='person',how='inner').drop('label',axis=1)
feature_dos.head()

     person  weight_conversion_per_time
0  0566e9c1                        0.00
1  db2c4d27                        0.06
2  cde431db                        0.01
3  a4178891                        0.04
4  57bab525                        0.15

In [36]:
valores = valores.merge(feature_uno,on='person',how='inner').merge(feature_dos,on='person',how='inner')

In [37]:
valores.head()

,person,ad campaign hit,brand listing,checkout,conversion,generic listing,lead,search engine hit,searched products,staticpage,viewed product,visited site,mean_per_event,most_frequent_event,count_most_frequent_event,less_frequent_event,count_less_frequent_event,weight_conversion_per_person,weight_conversion_per_time
0,0019e639,29.00,165.00,15.00,2.00,28.00,0.00,13.00,11.00,0.00,189.00,19.00,52.33,viewed product,189,conversion,2,0.33,0.02
1,001b0bf9,0.00,1.00,2.00,1.00,1.00,0.00,0.00,0.00,0.00,2.00,0.00,1.40,checkout,2,brand listing,1,0.50,0.07
2,0020152e,2.00,0.00,2.00,1.00,0.00,0.00,0.00,0.00,0.00,2.00,2.00,1.80,ad campaign hit,2,conversion,1,0.50,0.17
3,004ed8ba,38.00,44.00,14.00,1.00,4.00,0.00,5.00,7.00,1.00,71.00,43.00,22.80,viewed product,71,conversion,1,0.50,0.76
4,00971729,3.00,2.00,6.00,1.00,1.00,0.00,3.00,0.00,0.00,71.00,2.00,11.12,viewed product,71,conversion,1,0.50,0.18

In [75]:
#Agregamos algunos features que estan relacionados con la distancia entre cada evento que realizo cada usuario

In [77]:
#calculamos la diferencia de tiempo entre eventos
data1=events_training
data1=events_training.loc[:,['person','date']].sort_values('date',ascending=True)
data1['dateaux']=data1['date'].shift(periods=1,axis=0)
data1['personaux']=data1['person'].shift(periods=1,axis=0)
data1['aux']=data1['person']==data1['personaux']
#data1.groupby('person').apply(lambda x: )
data1=data1[data1['aux']==True]
data1['diftime']=(data1['date']-data1['dateaux']).dt.total_seconds()

#aca tenemos la desviacion estandar
data1=data1.loc[:,['person','diftime']]

#aca va la desviacion estandar
datostd=data1.groupby('person').agg({'diftime':np.std}).reset_index()
datostd.columns=['person','diftime_std']
datostd.head()

     person          diftime_std
0  000c79fe                 1.10
1  001802e4                 0.00
2  0019e639                28.07
3  001b0bf9                 2.65
4  001ca5ee                 1.89

In [80]:
#data1=events_training.merge(data1,on='person',how='inner')
#data1.sort_values('date',ascending=True).groupby('person').head(2)

In [84]:
 #media de las diferencias 
datamean=data1
datamean=data1.groupby('person').agg({'diftime':np.mean}).reset_index()
datamean.columns=['person','diftime_mean']
datamean.head()

     person         diftime_mean
0  000c79fe                 1.00
1  001802e4                 0.00
2  0019e639                16.65
3  001b0bf9                 2.00
4  001ca5ee                 1.94

In [83]:
#desviacion estandar diferencia de eventos en el tiempo
datamedian=data1
datamedian=data1.groupby('person').agg({'diftime':np.std}).reset_index()
datamedian.columns=['person','diftime_median']
datamedian.head()

     person       diftime_median
0  000c79fe                 1.10
1  001802e4                 0.00
2  0019e639                28.07
3  001b0bf9                 2.65
4  001ca5ee                 1.89

In [87]:
valores = valores.merge(datamedian,on='person',how='inner').merge(datamean,on='person',how='inner')\
        .merge(datostd,on='person',how='inner')

In [38]:
train_entrenamiento=valores
train_entrenamiento.head()

,person,ad campaign hit,brand listing,checkout,conversion,generic listing,lead,search engine hit,searched products,staticpage,viewed product,visited site,mean_per_event,most_frequent_event,count_most_frequent_event,less_frequent_event,count_less_frequent_event,weight_conversion_per_person,weight_conversion_per_time
0,0019e639,29.00,165.00,15.00,2.00,28.00,0.00,13.00,11.00,0.00,189.00,19.00,52.33,viewed product,189,conversion,2,0.33,0.02
1,001b0bf9,0.00,1.00,2.00,1.00,1.00,0.00,0.00,0.00,0.00,2.00,0.00,1.40,checkout,2,brand listing,1,0.50,0.07
2,0020152e,2.00,0.00,2.00,1.00,0.00,0.00,0.00,0.00,0.00,2.00,2.00,1.80,ad campaign hit,2,conversion,1,0.50,0.17
3,004ed8ba,38.00,44.00,14.00,1.00,4.00,0.00,5.00,7.00,1.00,71.00,43.00,22.80,viewed product,71,conversion,1,0.50,0.76
4,00971729,3.00,2.00,6.00,1.00,1.00,0.00,3.00,0.00,0.00,71.00,2.00,11.12,viewed product,71,conversion,1,0.50,0.18

In [39]:
#agrego el label

In [40]:
event_label=events_training[['person','label']] 
event_label.head(5)

     person  label
0  ad93850f      0
1  ad93850f      0
2  ad93850f      0
3  ad93850f      0
4  ad93850f      0

In [41]:
train_entrenamiento=pd.merge(train_entrenamiento,event_label,on='person',how='inner')
train_entrenamiento.head()

,person,ad campaign hit,brand listing,checkout,conversion,generic listing,lead,search engine hit,searched products,staticpage,viewed product,visited site,mean_per_event,most_frequent_event,count_most_frequent_event,less_frequent_event,count_less_frequent_event,weight_conversion_per_person,weight_conversion_per_time,label
0,0019e639,29.00,165.00,15.00,2.00,28.00,0.00,13.00,11.00,0.00,189.00,19.00,52.33,viewed product,189,conversion,2,0.33,0.02,0
1,0019e639,29.00,165.00,15.00,2.00,28.00,0.00,13.00,11.00,0.00,189.00,19.00,52.33,viewed product,189,conversion,2,0.33,0.02,0
2,0019e639,29.00,165.00,15.00,2.00,28.00,0.00,13.00,11.00,0.00,189.00,19.00,52.33,viewed product,189,conversion,2,0.33,0.02,0
3,0019e639,29.00,165.00,15.00,2.00,28.00,0.00,13.00,11.00,0.00,189.00,19.00,52.33,viewed product,189,conversion,2,0.33,0.02,0
4,0019e639,29.00,165.00,15.00,2.00,28.00,0.00,13.00,11.00,0.00,189.00,19.00,52.33,viewed product,189,conversion,2,0.33,0.02,0

In [42]:
#termino el merge con la variable categorizable

In [43]:
#test

In [44]:
#sum enconding test

In [45]:
sum_enconding_test=events_test.groupby(['person','event']).agg({'event':'count'}).unstack().fillna(0)
sum_enconding_test.columns=['ad campaign hit','brand listing','checkout','conversion','generic listing','lead','search engine hit','searched products','staticpage','viewed product','visited site']
sum_enconding_test=sum_enconding_test.reset_index() 
sum_enconding_test.head()

,person,ad campaign hit,brand listing,checkout,conversion,generic listing,lead,search engine hit,searched products,staticpage,viewed product,visited site
0,00091926,15.00,25.00,2.00,0.00,0.00,0.00,0.00,0.00,0.00,372.00,34.00
1,00091a7a,1.00,5.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,3.00,1.00
2,000ba417,1.00,24.00,6.00,1.00,14.00,0.00,1.00,0.00,0.00,153.00,6.00
3,000e4d9e,19.00,17.00,1.00,0.00,17.00,0.00,5.00,0.00,0.00,339.00,13.00
4,000e619d,6.00,11.00,1.00,0.00,8.00,0.00,3.00,6.00,0.00,28.00,5.00

In [46]:
#termino sum enconding test

In [47]:
datos_dos_test = events_test.loc[:,['person','event','timestamp']]
datos_dos_test = datos_dos_test.groupby(['person','event']).count().reset_index()
datos_dos_test.columns=['person','event','cant_per_event']
datos_dos_test.head()

     person            event  cant_per_event
0  00091926  ad campaign hit              15
1  00091926    brand listing              25
2  00091926         checkout               2
3  00091926   viewed product             372
4  00091926     visited site              34

In [48]:
maximo_evento_test = datos_dos_test.groupby('person').apply(lambda x: x.nlargest(1,'cant_per_event')).reset_index(drop=True)
maximo_evento_test.head()

     person           event  cant_per_event
0  00091926  viewed product             372
1  00091a7a   brand listing               5
2  000ba417  viewed product             153
3  000e4d9e  viewed product             339
4  000e619d  viewed product              28

In [49]:
minimo_evento_test = datos_dos_test.groupby('person').apply(lambda x: x.nsmallest(1,'cant_per_event')).reset_index(drop=True)
minimo_evento_test.head()

     person            event  cant_per_event
0  00091926         checkout               2
1  00091a7a  ad campaign hit               1
2  000ba417  ad campaign hit               1
3  000e4d9e         checkout               1
4  000e619d         checkout               1

In [50]:
minimo_evento_test.columns=['person','less_frequent_event','count_less_frequent_event']

In [51]:
maximo_evento_test.columns=['person','most_frequent_event','count_most_frequent_event']

In [52]:
media_evento_test = datos_dos_test.loc[:,['person','cant_per_event']]\
                .groupby('person').agg(lambda x: x.mean()).reset_index()

In [53]:
 media_evento_test.columns=['person','mean_per_event']

In [54]:
media_evento_test.head(10)

     person       mean_per_event
0  00091926                89.60
1  00091a7a                 2.50
2  000ba417                25.75
3  000e4d9e                58.71
4  000e619d                 8.50
5  001001be                11.33
6  0010e89a                 1.00
7  0016c4b5                 1.00
8  001804a2                 1.33
9  001a2273                 3.20

In [55]:
valores_test = media_evento_test.merge(maximo_evento_test,on='person',how='inner').merge(minimo_evento_test,on='person',how='inner')

In [56]:
valores_test.head()

,person,mean_per_event,most_frequent_event,count_most_frequent_event,less_frequent_event,count_less_frequent_event
0,00091926,89.60,viewed product,372,checkout,2
1,00091a7a,2.50,brand listing,5,ad campaign hit,1
2,000ba417,25.75,viewed product,153,ad campaign hit,1
3,000e4d9e,58.71,viewed product,339,checkout,1
4,000e619d,8.50,viewed product,28,checkout,1

In [57]:
#merge con sum_enconding_test

In [58]:
valores_test=pd.merge(sum_enconding_test,valores_test,how='inner',on='person')

In [59]:
valores_test.head()

,person,ad campaign hit,brand listing,checkout,conversion,generic listing,lead,search engine hit,searched products,staticpage,viewed product,visited site,mean_per_event,most_frequent_event,count_most_frequent_event,less_frequent_event,count_less_frequent_event
0,00091926,15.00,25.00,2.00,0.00,0.00,0.00,0.00,0.00,0.00,372.00,34.00,89.60,viewed product,372,checkout,2
1,00091a7a,1.00,5.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,3.00,1.00,2.50,brand listing,5,ad campaign hit,1
2,000ba417,1.00,24.00,6.00,1.00,14.00,0.00,1.00,0.00,0.00,153.00,6.00,25.75,viewed product,153,ad campaign hit,1
3,000e4d9e,19.00,17.00,1.00,0.00,17.00,0.00,5.00,0.00,0.00,339.00,13.00,58.71,viewed product,339,checkout,1
4,000e619d,6.00,11.00,1.00,0.00,8.00,0.00,3.00,6.00,0.00,28.00,5.00,8.50,viewed product,28,checkout,1

In [60]:
#finaliza merge con sum_enconding_test

In [61]:
#feature engine trucho
train_entrenamiento= pd.merge(valores,label_train,how='inner',on='person')

In [62]:
test_entrenamiento=pd.merge(test,valores_test ,how='inner',on='person')

In [63]:
test_entrenamiento.head()

,person,ad campaign hit,brand listing,checkout,conversion,generic listing,lead,search engine hit,searched products,staticpage,viewed product,visited site,mean_per_event,most_frequent_event,count_most_frequent_event,less_frequent_event,count_less_frequent_event
0,4886f805,0.00,0.00,1.00,0.00,1.00,0.00,1.00,1.00,0.00,4.00,1.00,1.50,viewed product,4,checkout,1
1,0297fc1e,29.00,4.00,7.00,0.00,21.00,1.00,0.00,6.00,0.00,404.00,95.00,70.88,viewed product,404,lead,1
2,2d681dd8,1.00,5.00,1.00,0.00,1.00,0.00,2.00,1.00,0.00,13.00,2.00,3.25,viewed product,13,ad campaign hit,1
3,cccea85e,15.00,7.00,1.00,0.00,20.00,0.00,26.00,1.00,5.00,739.00,22.00,92.89,viewed product,739,checkout,1
4,4c8a8b93,14.00,8.00,2.00,0.00,14.00,0.00,13.00,9.00,0.00,177.00,20.00,32.12,viewed product,177,checkout,2

In [64]:
events_test['date'] = pd.to_datetime(events_test['timestamp'])

In [65]:
#este feature le agrega un peso a los usuarion segun la cantidad de conversiones que realizaron.
#Aquellos usuarion que han realizado una conversion tienen menos peso que aquellos que no la hicieron, ya que al haber
# comprado ya un producto es menos probable que ellos lo vuelvan a hacer.
#Ademas este peso se reduce si el usuario realizo mas de una conversion
datos_cuatro = events_test.loc[:,['person','event','timestamp']]
datos_cuatro = datos_cuatro.groupby(['person','event']).count().unstack().reset_index().fillna(0)
datos_cuatro.columns=['person','ad_campaign_hit','brand_listing','checkout','conversion','generic_listing',\
                      'lead','search_engine_hit','searched_products','staticpage','viewed_product','visited_site']
feature_uno_test = datos_cuatro
feature_uno_test['weight_conversion_per_person'] = datos_cuatro.loc[:,['person','conversion']]['conversion']\
            .apply(lambda x: 1/(x+1))
feature_uno_test = feature_uno_test.loc[:,['person','weight_conversion_per_person']]
feature_uno_test = test.merge(feature_uno_test,on='person',how='inner')
feature_uno_test.head()

     person  weight_conversion_per_person
0  4886f805                          1.00
1  0297fc1e                          1.00
2  2d681dd8                          1.00
3  cccea85e                          1.00
4  4c8a8b93                          1.00

In [66]:
#vamos a crear un feature que es un peso que se le asigna a cada usuario de acuerdo a que tan proxima esta la
#ultima conversion que realizaron con respecto a la fecha limite donde empieza la primera semana de junio
#los usuarion que hayan realizado un conversion muy cerca a esta fecha tendran el peso menor.
# a medida que la ultima conversion del usuario se aleje de esta fecha el peso aumenta.
#si el usuario no realizo ninguna conversion entonces el peso es el maximo, que es 1 en este caso
fecha1 = events_test['date'].min()
fecha2 = pd.to_datetime('2018-05-31 23:59:59')
tiempo_total = (fecha2-fecha1).total_seconds()
datos_cinco = events_test.groupby('person').filter(lambda x: (x['event']=='conversion').any()).reset_index()\
            .loc[:,['person','event','date']]
datos_cinco_con = datos_cinco.loc[datos_cinco['event']=='conversion',:].groupby('person').max().reset_index()\
                .drop('event',axis=1)
datos_cinco_con['weight_conversion_per_time']= (fecha2 - datos_cinco_con['date']).dt.total_seconds()/tiempo_total
datos_cinco_con = datos_cinco_con.drop('date',axis=1)
datos_cinco_sin = events_test.groupby('person').filter(lambda x: (x['event']!='conversion').all()).reset_index()\
            .loc[:,['person','event']].drop_duplicates(subset='person',keep='first')
datos_cinco_sin['weight_conversion_per_time']=1
datos_cinco_sin = datos_cinco_sin.drop('event',axis=1)
feature_dos_test = datos_cinco_sin.merge(datos_cinco_con,on=['person','weight_conversion_per_time'],how='outer')
feature_dos_test = test.merge(feature_dos_test,on='person',how='inner')
feature_dos_test.head()

     person  weight_conversion_per_time
0  4886f805                        1.00
1  0297fc1e                        1.00
2  2d681dd8                        1.00
3  cccea85e                        1.00
4  4c8a8b93                        1.00

In [72]:
valores_test = valores_test.merge(feature_uno_test,on='person',how='inner').merge(feature_dos_test,on='person',how='inner')

In [93]:
data1=events_test
data1=events_test.loc[:,['person','date']].sort_values('date',ascending=True)
data1['dateaux']=data1['date'].shift(periods=1,axis=0)
data1['personaux']=data1['person'].shift(periods=1,axis=0)
data1['aux']=data1['person']==data1['personaux']
#data1.groupby('person').apply(lambda x: )
data1=data1[data1['aux']==True]
data1['diftime']=(data1['date']-data1['dateaux']).dt.total_seconds()

#aca tenemos la desviacion estandar
data1=data1.loc[:,['person','diftime']]

#aca va la desviacion estandar
datostd_test=data1.groupby('person').agg({'diftime':np.std}).reset_index()
datostd_test.columns=['person','diftime_std']
datostd_test.head()

     person          diftime_std
0  00091926                 5.76
1  00091a7a                 2.36
2  000ba417                 1.22
3  000e4d9e                 1.10
4  000e619d                 1.58

In [91]:
 #media de las diferencias 
datamean_test=data1
datamean_test=data1.groupby('person').agg({'diftime':np.mean}).reset_index()
datamean_test.columns=['person','diftime_mean']
datamean_test.head()

     person         diftime_mean
0  00091926                 3.60
1  00091a7a                 1.75
2  000ba417                 1.46
3  000e4d9e                 1.15
4  000e619d                 0.73

In [92]:
#desviacion estandar diferencia de eventos en el tiempo
datamedian_test=data1
datamedian_test=data1.groupby('person').agg({'diftime':np.std}).reset_index()
datamedian_test.columns=['person','diftime_median']
datamedian_test.head()

     person       diftime_median
0  00091926                 5.76
1  00091a7a                 2.36
2  000ba417                 1.22
3  000e4d9e                 1.10
4  000e619d                 1.58

In [94]:
valores_test = valores_test.merge(datamedian_test,on='person',how='inner').merge(datamean_test,on='person',how='inner')\
                .merge(datostd_test,on='person',how='inner')

In [95]:
valores_test.head()

,person,ad campaign hit,brand listing,checkout,conversion,generic listing,lead,search engine hit,searched products,staticpage,...,most_frequent_event,count_most_frequent_event,less_frequent_event,count_less_frequent_event,weight_conversion_per_person_x,weight_conversion_per_person_y,weight_conversion_per_time,diftime_median,diftime_mean,diftime_std
0,00091926,15.00,25.00,2.00,0.00,0.00,0.00,0.00,0.00,0.00,...,viewed product,372,checkout,2,1.00,1.00,1.00,5.76,3.60,5.76
1,00091a7a,1.00,5.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,brand listing,5,ad campaign hit,1,1.00,1.00,1.00,2.36,1.75,2.36
2,000ba417,1.00,24.00,6.00,1.00,14.00,0.00,1.00,0.00,0.00,...,viewed product,153,ad campaign hit,1,0.50,0.50,0.04,1.22,1.46,1.22
3,000e4d9e,19.00,17.00,1.00,0.00,17.00,0.00,5.00,0.00,0.00,...,viewed product,339,checkout,1,1.00,1.00,1.00,1.10,1.15,1.10
4,000e619d,6.00,11.00,1.00,0.00,8.00,0.00,3.00,6.00,0.00,...,viewed product,28,checkout,1,1.00,1.00,1.00,1.58,0.73,1.58

In [74]:
#feature engieri del test,misma columna train,pero sin label.

In [70]:
string_columns=train_entrenamiento.columns
string_columns

Index(['person', 'ad campaign hit', 'brand listing', 'checkout', 'conversion',
       'generic listing', 'lead', 'search engine hit', 'searched products',
       'staticpage', 'viewed product', 'visited site', 'mean_per_event',
       'most_frequent_event', 'count_most_frequent_event',
       'less_frequent_event', 'count_less_frequent_event',
       'weight_conversion_per_person', 'weight_conversion_per_time', 'label'],
      dtype='object')

In [71]:
#hash
#Transformo texto a numeros
for f in string_columns:
         train_entrenamiento[f] = train_entrenamiento.apply(lambda row:  hash(row[f]) if not(pd.isnull(row[f]))
         else np.nan, axis = 1)

In [ ]:
train_entrenamiento.head(5)

In [ ]:
# es entrenar el modelo en  ramdom forest

In [ ]:
#formato del train

In [ ]:
train_label = train_entrenamiento['label']
train_label.head()

In [ ]:
train = train_entrenamiento.drop('label', 1)
train.head()

In [ ]:
forest = RandomForestRegressor(n_estimators = 20, n_jobs = -1,random_state =3 ,
                                max_features = "auto", min_samples_leaf = 6)

In [ ]:
forest.fit(train, train_label)

In [ ]:
string_columns=test_entrenamiento.columns
string_columns

In [ ]:
#hash del test
#hash
#Transformo texto a numeros
for f in string_columns:
         test_entrenamiento[f] = test_entrenamiento.apply(lambda row:  hash(row[f]) if not(pd.isnull(row[f]))
         else np.nan, axis = 1)

In [ ]:
test_entrenamiento.head()

In [ ]:
#predecimos
prediction = forest.predict(test_entrenamiento)

In [ ]:
 len(prediction)

In [ ]:
ids = test['person'].values
dataKaggle = pd.DataFrame(ids ,columns={'person'})
dataKaggle.head(5)

In [ ]:
len(dataKaggle)

In [ ]:
#Aca agregamos una columna que seria se postulop
dataKaggle['label'] = prediction

In [ ]:
 dataKaggle.nlargest(5,'label'  )

In [ ]:
dataKaggle.to_csv("predictionRandonForest2.csv", index = False)

In [ ]:
  #calculamos la diferencia de tiempo entre eventos
data1=events_training
data1=events_training.loc[:,['person','date']].sort_values('date',ascending=True)
data1['dateaux']=data1['date'].shift(periods=1,axis=0)
data1['personaux']=data1['person'].shift(periods=1,axis=0)
data1['aux']=data1['person']==data1['personaux']
#data1.groupby('person').apply(lambda x: )
data1=data1[data1['aux']==True]
data1['diftime']=(data1['date']-data1['dateaux']).dt.total_seconds()

#aca tenemos la desviacion estandar
data1=data1.loc[:,['person','diftime']]

#aca va la desviacion estandar
datostd=data1.groupby('person').agg({'diftime':np.std})
datostd.head()

In [ ]:
data1=events_training.merge(data1,on=['person','date'],how='inner')
data1.sort_values('date',ascending=True).groupby('person').head(2)

In [ ]:
 #media de las diferencias 
datamean=data1
datamean=data1.groupby('person').agg({'diftime':np.mean})
datamean.head()

In [ ]:
 #media de las diferencias 
datamean=data1
datamean=data1.groupby('person').agg({'diftime':np.mean})
datamean.head()

In [ ]:
#desviacion estandar diferencia de eventos en el tiempo
datamedian=data1
datamedian=data1.groupby('person').agg({'diftime':np.std})
datamedian.head()